.classpath
.project
.settings
eclipse-build
target
.DS_Store
shared/test-output
api-old/
hub-old/
shared-old/
exclude.txt
solr/cores/*/data
hub/dependency-reduced-pom.xml
tools/dependency-reduced-pom.xml
hub/data
hub/custom-*.properties
.idea
*.iml
*.back
/dist
.java-version

